*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	background-image: url(img/back.jpg);
	background-size: cover;
	height: 60vh;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
header figure img{
	display: block;
	width: 450px;
	top: 50%;
	left: 50%;
	transform: (-50%,-50%);
}
header a{
	margin-top: 50px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 15px;
	background-color: #ff6c00;
	border-radius: 5px;
	border-bottom: 4px solid #cc5600;
}
header a:hover{
	color: #fff;
	background-color: orange;	
}
.indique{
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	justify-content: space-between;
}

.destaque{
	border: 2px solid #333;
	width: 23%;
	margin: 10px;
	padding: 15px 25px 40px 15px;
}
.destaque figure img{
	margin: auto;
	margin-bottom: 20px;
	display: block;
	width: 50px;
}
section h1, h2, p{
	text-align: center;
	margin-bottom: 18px;
}
.destaque h3{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.destaque p{
	text-align: center;
	font-size: 14px;
	color: #555;
}
a{
	color: #333;
	display: block;
	text-align: center;
	width: 180px;
	margin: 0 auto;
}
section a:hover{
	color: #fff;
	background-color: black;
}
/* lista grande */
.categorias{
	background-color: black;
	color: #fff;
	padding: 20px 0px; 
}
.categorias_lista{
	max-width: 1100px;
	margin: 0 auto;
}
.categorias_item{
	padding: 10px;
	width: 23%;
	margin: 10px;
}
.categorias_item:hover{

	border: 2px solid #ff0;
}
.categorias_item h3{
	text-align: center;
	margin-bottom: 20px;
}
.categorias_item figure img{
	margin: auto;
	margin-bottom: 20px;
	display: block;
	width: 60px;
	background-image: url(img/circle_empty.png);
	background-size: cover;
	background-position: center;
}